<%= form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ref %>: 
    <%= f.text_field :ref %>
  </div>
  <div class="field">
    <%= f.label :fname %>: 
    <%= f.text_field :fname %>
  </div>
  <div class="field">
    <%= f.label :lname %>: 
    <%= f.text_field :lname %>
  </div>
  <div class="field">
    <%= f.label :dept %>: 
    <%= f.text_field :dept %>
  </div>
  <div class="field">
    <%= f.label :address %>: 
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :email %>: 
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :telephone %>: 
    <%= f.text_field :telephone %>
  </div>
  <div class="field">
    <%= f.label :title %>: 
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :date %>: 
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :start %>: 
    <%= f.time_select :start %>
  </div>
  <div class="field">
    <%= f.label :end %>: 
    <%= f.time_select :end %>
  </div>
  <div class="field">
    <%= f.label :ppt %>: Yes <%= f.radio_button(:ppt, 'Y') %> No <%= f.radio_button(:ppt, 'N') %> 
  </div> 
  <div class="field">
    <%= f.label :name1 %>: 
    <%= f.text_field :name1 %>
  </div>
  <div class="field">
    <%= f.label :chair1 %>: 
    <%= f.text_field :chair1 %>
  </div>
  <div class="field">
    <%= f.label :part1 %>: 
    <%= f.text_field :part1 %>
  </div>
  <div class="field">
    <%= f.label :room1 %>: 
    <%= f.text_field :room1 %>
  </div>
  <div class="field">
    <%= f.label :tname1 %>: 
    <%= f.text_field :tname1 %>
  </div>
  <div class="field">
    <%= f.label :temail1 %>: 
    <%= f.text_field :temail1 %>
  </div>
  <div class="field">
    <%= f.label :tphone1 %>: 
    <%= f.text_field :tphone1 %>
  </div>
  <div class="field">
    <%= f.label :name2 %>: 
    <%= f.text_field :name2 %>
  </div>
  <div class="field">
    <%= f.label :chair2 %>: 
    <%= f.text_field :chair2 %>
  </div>
  <div class="field">
    <%= f.label :part2 %>: 
    <%= f.text_field :part2 %>
  </div>
  <div class="field">
    <%= f.label :room2 %>: 
    <%= f.text_field :room2 %>
  </div>
  <div class="field">
    <%= f.label :tname2 %>: 
    <%= f.text_field :tname2 %>
  </div>
  <div class="field">
    <%= f.label :temail2 %>: 
    <%= f.text_field :temail2 %>
  </div>
  <div class="field">
    <%= f.label :tphone2 %>: 
    <%= f.text_field :tphone2 %>
  </div>
  <div class="field">
    <%= f.label :name3 %>: 
    <%= f.text_field :name3 %>
  </div>
  <div class="field">
    <%= f.label :chair3 %>: 
    <%= f.text_field :chair3 %>
  </div>
  <div class="field">
    <%= f.label :part3 %>: 
    <%= f.text_field :part3 %>
  </div>
  <div class="field">
    <%= f.label :room3 %>: 
    <%= f.text_field :room3 %>
  </div>
  <div class="field">
    <%= f.label :tname3 %>: 
    <%= f.text_field :tname3 %>
  </div>
  <div class="field">
    <%= f.label :temail3 %>: 
    <%= f.text_field :temail3 %>
  </div>
  <div class="field">
    <%= f.label :tphone3 %>: 
    <%= f.text_field :tphone3 %>
  </div>
  <div class="field">
    <%= f.label :name4 %>: 
    <%= f.text_field :name4 %>
  </div>
  <div class="field">
    <%= f.label :chair4 %>: 
    <%= f.text_field :chair4 %>
  </div>
  <div class="field">
    <%= f.label :part4 %>: 
    <%= f.text_field :part4 %>
  </div>
  <div class="field">
    <%= f.label :room4 %>: 
    <%= f.text_field :room4 %>
  </div>
  <div class="field">
    <%= f.label :tname4 %>: 
    <%= f.text_field :tname4 %>
  </div>
  <div class="field">
    <%= f.label :temail4 %>: 
    <%= f.text_field :temail4 %>
  </div>
  <div class="field">
    <%= f.label :tphone4 %>: 
    <%= f.text_field :tphone4 %>
  </div>
  <div class="field">
    <%= f.label :other %>: 
    <%= f.text_field :other %>
  </div>
  <div class="field">
    <%= f.label :approved %>: Yes <%= f.radio_button(:approved, 'Y') %> No <%= f.radio_button(:approved, 'N') %> 
  </div>  
  <div class="field">
    <%= f.label :notes %>: 
    <%= f.text_field :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
