<h2>Show Booking: <%= @booking.id %></h2>

<table>
<tr>
  <td><b>Ref:</b></td>
  <td><%= @booking.ref %></td>
</tr>

<tr>
  <td><b>Name:</b></td>
  <td><%= @booking.fname %> <%= @booking.lname %></td>
</tr>

<tr>
  <td><b>Dept:</b></td>
  <td><%= @booking.dept %></td>
</tr>

<tr>
  <td><b>Address:</b></td>
  <td><%= @booking.address %></td>
</tr>

<tr>
  <td><b>Email:</b></td>
  <td><%= @booking.email %></td>
</tr>

<tr>
  <td><b>Telephone:</b></td>
  <td><%= @booking.telephone %></td>
</tr>

<tr>
  <td><b>Title:</b></td>
  <td><%= @booking.title %></td>
</tr>

<tr>
  <td><b>Date:</b></td>
  <td><%= @booking.date %></td>
</tr>

<tr>
  <td><b>Time:</b></td>
  <td><%= @booking.start.strftime("%H:%M") %> - <%=@booking.end.strftime("%H:%M") %></td>
</tr>

<tr>
  <td><b>Ppt:</b></td>
  <td><%= @booking.ppt %></td>
</tr>

<tr>
  <td><b>Name1:</b></td>
  <td><%= @booking.name1 %></td>
</tr>

<tr>
  <td><b>Chair1:</b></td>
  <td><%= @booking.chair1 %></td>
</tr>

<tr>
  <td><b>Part1:</b></td>
  <td><%= @booking.part1 %></td>
</tr>

<tr>
  <td><b>Room1:</b></td>
  <td><%= @booking.room1 %></td>
</tr>

<tr>
  <td><b>Technician (external): </b></td>
  <td><%= @booking.tname1 %> : <%= @booking.temail1 %> : <%= @booking.tphone1 %></td>
</tr>

<tr>
  <td><b>Name2:</b></td>
  <td><%= @booking.name2 %></td>
</tr>

<tr>
  <td><b>Chair2:</b></td>
  <td><%= @booking.chair2 %></td>
</tr>

<tr>
  <td><b>Part2:</b></td>
  <td><%= @booking.part2 %></td>
</tr>

<tr>
  <td><b>Room2:</b></td>
  <td><%= @booking.room2 %></td>
</tr>

<tr>
  <td><b>Technician (external): </b></td>
  <td><%= @booking.tname2 %> : <%= @booking.temail2 %> : <%= @booking.tphone2 %></td>
</tr>

<tr>
  <td><b>Name3:</b></td>
  <td><%= @booking.name3 %></td>
</tr>

<tr>
  <td><b>Chair3:</b></td>
  <td><%= @booking.chair3 %></td>
</tr>

<tr>
  <td><b>Part3:</b></td>
  <td><%= @booking.part3 %></td>
</tr>

<tr>
  <td><b>Room3:</b></td>
  <td><%= @booking.room3 %></td>
</tr>

<tr>
  <td><b>Technician (external): </b></td>
  <td><%= @booking.tname3 %> : <%= @booking.temail3 %> : <%= @booking.tphone3 %></td>
</tr>

<tr>
  <td><b>Name4:</b></td>
  <td><%= @booking.name4 %></td>
</tr>

<tr>
  <td><b>Chair4:</b></td>
  <td><%= @booking.chair4 %></td>
</tr>

<tr>
  <td><b>Part4:</b></td>
  <td><%= @booking.part4 %></td>
</tr>

<tr>
  <td><b>Room4:</b></td>
  <td><%= @booking.room4 %></td>
</tr>

<tr>
  <td><b>Technician (external): </b></td>
  <td><%= @booking.tname4 %> : <%= @booking.temail4 %> : <%= @booking.tphone4 %></td>
</tr>

<tr>
  <td><b>Other:</b></td>
  <td><%= @booking.other %></td>
</tr>

<tr>
  <td><b>Approved:</b></td>
  <td><%= @booking.approved %></td>
</tr>

<tr>
  <td><b>Notes:</b></td>
  <td><%= @booking.notes %></td>
</tr>

</table>


<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
