<p id="notice"><%= notice %></p>

<p>
  <b>Ref:</b>
  <%= @booking.ref %>
</p>

<p>
  <b>Fname:</b>
  <%= @booking.fname %>
</p>

<p>
  <b>Lname:</b>
  <%= @booking.lname %>
</p>

<p>
  <b>Dept:</b>
  <%= @booking.dept %>
</p>

<p>
  <b>Address:</b>
  <%= @booking.address %>
</p>

<p>
  <b>Email:</b>
  <%= @booking.email %>
</p>

<p>
  <b>Telephone:</b>
  <%= @booking.telephone %>
</p>

<p>
  <b>Title:</b>
  <%= @booking.title %>
</p>

<p>
  <b>Date:</b>
  <%= @booking.date %>
</p>

<p>
  <b>Start:</b>
  <%= @booking.start %>
</p>

<p>
  <b>End:</b>
  <%= @booking.end %>
</p>

<p>
  <b>Ppt:</b>
  <%= @booking.ppt %>
</p>

<p>
  <b>Name1:</b>
  <%= @booking.name1 %>
</p>

<p>
  <b>Chair1:</b>
  <%= @booking.chair1 %>
</p>

<p>
  <b>Part1:</b>
  <%= @booking.part1 %>
</p>

<p>
  <b>Room1:</b>
  <%= @booking.room1 %>
</p>

<p>
  <b>Name2:</b>
  <%= @booking.name2 %>
</p>

<p>
  <b>Chair2:</b>
  <%= @booking.chair2 %>
</p>

<p>
  <b>Part2:</b>
  <%= @booking.part2 %>
</p>

<p>
  <b>Room2:</b>
  <%= @booking.room2 %>
</p>

<p>
  <b>Name3:</b>
  <%= @booking.name3 %>
</p>

<p>
  <b>Chair3:</b>
  <%= @booking.chair3 %>
</p>

<p>
  <b>Part3:</b>
  <%= @booking.part3 %>
</p>

<p>
  <b>Room3:</b>
  <%= @booking.room3 %>
</p>

<p>
  <b>Name4:</b>
  <%= @booking.name4 %>
</p>

<p>
  <b>Chair4:</b>
  <%= @booking.chair4 %>
</p>

<p>
  <b>Part4:</b>
  <%= @booking.part4 %>
</p>

<p>
  <b>Room4:</b>
  <%= @booking.room4 %>
</p>

<p>
  <b>Other:</b>
  <%= @booking.other %>
</p>

<p>
  <b>Approved:</b>
  <%= @booking.approved %>
</p>

<p>
  <b>Notes:</b>
  <%= @booking.notes %>
</p>


<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
